body {
  background-color: #fcfaf1;
  font-size: 16px;
  box-sizing: content-box;
  font-family: "Volkhov", serif;
}
.App {
  width: 100%;
  min-height: 100vh;
  font-size: 1rem;
  font-family: "Volkhov", serif;
  background-color: #dfb19b;
}
.container {
  /* width: 1024px; */
  /* margin: 0 auto; */
  padding: 1em;
}
img {
  width: 100%;
}
h1 {
  color: #fcfaf1;
  text-align: center;
  font-size: 2.4em;
  font-weight: bold;
}

h2 {
  font-size: 1.6em;
  color: #517381;
  margin: 12px 0 0 0;
}

p {
  color: #555555;
  font-family: "Source Sans Pro", sans-serif;
  margin: 5px;
}

h4 {
  color: #3d5265;
  margin: 16px 0 5px;
  font-size: 1.2em;
  font-weight: bold;
}

.breadcrumbs {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em;
}

.breadcrumbs a {
  color: #555555;
  text-decoration: none;
}

/***CARD***/
.infobox {
  background-color: #fcfaf1;
  border-radius: 12px;
  padding: 1em 1em;
  border: 1px solid #d1d1d1;
  margin-bottom: 2em;
}
button {
  background-color: #517381;
  padding: 0.85em 1.25em;
  border-radius: 5px;
  box-shadow: none;
  border: 0px;
  color: #fcfaf1;
  font-family: "Volkhov", serif;
  font-size: 1em;
  margin-bottom: 1em;
}

button a {
  color: #fcfaf1;
  text-decoration: none;
}

/***Header***/
header {
  background-color: #517381;
  text-align: center;
  padding: 12px 0;
}
.card img {
  max-height: 100px;
  width: auto;
  margin-top: 12px;
}
.card {
  border-radius: 12px;
  background-color: #fcfaf1;
  margin-bottom: 1em;
  min-height: 420px;
}

.image-beer {
  background-color: #ffe4bb;
  text-align: center;
  padding: 1em;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.beer-info {
  padding: 0 1em 1em 1em;
}
.credits {
  font-size: 0.8em;
}
.tagline {
  color: #517381;
  margin: 0 0 1em 0;
  line-height: 1.2em;
}
.card button {
  font-size: 0.8em;
  margin-top: 1em;
}

/***Layout***/
.row {
  display: flex;
  /* justify-content: space-between; */
}
.column {
  width: 50%;
  flex-grow: 1;
}
.column + .column {
  margin-left: 4.5%;
}

/***Loading***/
.loading {
  overflow: hidden;
  border-right: 0.15em solid #fcfaf1;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.05em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #ffe4bb;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ffe4bb;
  }
}

/***CARD DETAIL***/
.single-beer .image-beer img {
  max-height: 300px;
  width: auto;
  margin: 1em auto;
}
.card h2 {
  margin: 16px 0 5px 0;
}
.single-beer .description {
  margin-top: 1em;
  margin-bottom: 2em;
}

/***FORM***/
.register-form label {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 12px;
  color: #274e55;
  font-weight: 500;
}

.register-form input,
.register-form textarea {
  min-height: 30px;
  font-size: 1em;
  color: #999999;
  padding: 10px 12px;
  margin-bottom: 1.5em;
  font-family: "Source Sans Pro", sans-serif;
  border: 0px;
  width: 90%;
}

.register-form input {
  background-color: #fcfaf1;
}

.register-form button {
  width: 65%;
  margin: 2em auto 2em auto;
  background-color: #c76345;
  border: 0px;
  border-radius: 6px;
  box-shadow: none;
  font-size: 1.2em;
  color: #f6f4ea;
  font-weight: bold;
  padding: 10px 12px;
}

.register-form button:hover {
  background-color: #af573c;
}

.register-form {
  display: flex;
  flex-direction: column;
}
